<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for RuleDependencyAnalyzer" Description="Code analysis rules for RuleDependencyAnalyzer.csproj." ToolsVersion="14.0">
  <Rules AnalyzerId="AsyncUsageAnalyzers" RuleNamespace="AsyncUsageAnalyzers">
    <Rule Id="AvoidAsyncSuffix" Action="Error" />
    <Rule Id="AvoidAsyncVoid" Action="Error" />
    <Rule Id="UseAsyncSuffix" Action="Error" />
    <Rule Id="UseConfigureAwait" Action="Error" />
  </Rules>
</RuleSet>